/* src/styles/detail.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .detail {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .detail img {
    width: 300px;
    height: 300px;
    display: block;
  }
  
  .detail-info {
    flex-grow: 1;
  }
  
  .detail-info p {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
    line-height: 1.5;
  }
  
  .detail-info p span {
    font-weight: bold;
    color: #ff7f27;
  }
  