.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-color: #000;
}

.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.character-img {
  max-height: 500px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 520px; /* Aumentando a largura em aproximadamente 30% */
}

.login-title {
  color: #f5f5f5;
  text-align: center;
  margin-top: 0;
  font-size: 2em;
}

.login-subtitle {
  color: #aaa;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.login-label {
  font-weight: bold;
  color: #ff6600;
}

.login-input {
  padding: 12px;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  transition: border-color 0.2s;
}

.login-input:focus {
  border-color: #ff6600;
}

.login-btn {
  padding: 12px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #e65c00;
}

.login-btn:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.forgot-password {
  text-align: right;
  font-size: 0.9em;
  color: #ff6600;
  text-decoration: none;
  margin-top: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}
